PORT = 3000
MONGO_URI = mongodb+srv://ayushi29:Learnmongo1@cluster0.nyg6ymr.mongodb.net/?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 53511853420-r91d21j7eamabgq3p5cgmo48e9rgnm3m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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